body {
    width: 80%;
    margin: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1 {
    text-decoration: none;
}

.project-panel {
    display: block;
    width: 80%;
    margin: auto;
}

.project {
    margin-top: 50px;
}

.project-pics {
    display: grid;
    grid-template-columns: 470px 470px;
    grid-template-rows: 320px 320px;
}

.project-pics img {
    width: 450px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}
