<!doctype html>
<html lang='en-GB'>

  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width'/>
    <link href='../static/styles.css' rel='stylesheet'>
    <title>Bernardo M S Oliveira</title>
  </head>

  <a href='../index.html'><h1>Bernardo Moreira Soares Oliveira</h1></a>
  <div class='topnav'>
    <a href='dev.html'>Coding</a>
    <a href='academia.html'>Academia</a>
    <a href='about.html'>About me</a>
  </div>

  <body>
    <p>Coding and IT has been a part of my life since 2007 when I started using Linux.</p>
    <p>Like many, I started with Python and really enjoyed the simple and intuitive syntax. Later, due to bioinformatics, I also learned some R. Being surrounded by (and interested in) data, I wanted to learn SQL and database management as well.</p>
  </body>
  
  <footer>
  </footer>
  
</html>
