<!doctype html>
<html lang='en-GB'>

  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width'/>
    <link href='../static/styles.css' rel='stylesheet'>
    <title>Bernardo M S Oliveira</title>
  </head>

  <a href='../index.html'><h1>Bernardo Moreira Soares Oliveira</h1></a>
  <div class='topnav'>
    <a href='dev.html'>Dev stuff</a>
    <a href='academia.html'>Academia</a>
    <a href='about.html'>About me</a>
  </div>

  <body>
    <p>kood/Sisu asks us not to make our code public to avoid plagiarism by other students. It can be privately shared during recruitment processes.</p>
    <p>Here's an overview of our most relevant projects:</p>

    <h3>Match me</h3>
    <p>Current project</p>
    <p>Stack:</p>
    <ul>
      <li>Go</li>
      <li>Postgres</li>
      <li>REST API</li>
      <li>React</li>
      <li>JWT</li>
      <li>Web sockets</li>
    </ul>
    
    <h3>Race track</h3>
    <p>Stack:</p>
    <ul>
      <li>Node</li>
      <li>SQLite</li>
      <li>Web sockets</li>
    </ul>
    
    <h3>Literary forum</h3>
    <p>Stack:</p>
    <ul>
      <li>Go</li>
      <li>SQLite</li>
      <li>(Go) HTML templating</li>
      <li>Docker</li>
    </ul>
    
    <h3>Cars</h3>
    <p>Stack:</p>
    <ul>
      <li>Go</li>
      <li>Goroutines</li>
      <li>REST API</li>
    </ul>
    <h3>Art interface</h3>
    <p>This one you can check <a href=''>here</a> ;)</p>
  </body>
  
  <footer>
  </footer>
  
</html>



