#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 80px; /* Lägg till padding för att undvika att innehåll döljs under fast nav */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242424; /* Bakgrundsfärg för navigeringsmenyn */
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Säkerställ att navigeringsmenyn är över annat innehåll */
}

.logo {
  /* `height: 6em;` togs bort för att låta bilden bestämma sin egen höjd */
  padding: 1.5em 0; /* Behåll horisontell padding, ta bort vertikal här */
  will-change: filter;
  transition: filter 300ms;
  /* `padding-bottom: 200px;` togs bort då det var för mycket utrymme */
  margin-bottom: 2rem; /* Lägg till lite utrymme mellan bilden och texten */
}

.logo img {
    border-radius: 50%;
    width: 200px; /* Fast bredd för cirkulär bild */
    height: 200px; /* Fast höjd för cirkulär bild */
    object-fit: cover; /* Säkerställer att bilden täcker ytan utan att förvrängas */
    display: block; /* Gör bilden till ett blockelement */
    margin: 0 auto; /* Centrera bilden horisontellt */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar innehållet horisontellt i en kolumnlayout */
  /* justify-content: center; // Använd endast om containern har en definierad höjd och du vill centrera vertikalt */
  width: 100%; /* Säkerställer att containern tar full bredd */
  max-width: 800px; /* Valfritt: begränsa innehållsbredden för bättre läsbarhet */
  margin: 0 auto; /* Centrera hela home-content-containern på sidan */
  text-align: center; /* Centrera texten inom p-taggarna */
}

.home-content p {
  max-width: 600px; /* Begränsa bredden på styckena för bättre läsbarhet */
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #242424; /* Samma bakgrundsfärg som navbaren */
  padding: 1rem 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Skugga uppåt */
  z-index: 1000;
  text-align: center;
}

.main-footer .social-links a {
  color: #646cffaa; /* Länkfärg */
  margin: 0 0.5rem;
  text-decoration: none;
}

.main-footer .social-links a:hover {
  text-decoration: underline;
}
